@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home page will be available soon...</h1>
</div>

<hr />
<div class="col-md-12">
    <center><h2>Newly Added Courses</h2></center>
    @Html.Partial("_CoursePartial")
</div>

